* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Bruno Ace SC", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secWrapAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

p {
    font-family: "Poppins";
    font-size: 14px;
}

.p-top {
    margin-bottom: -10px;
}

.mainSec {
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nestedSec {
    width: 350px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

